@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');


* {
    font-size: small;
}

header {
    background-color: rgb(0, 0, 0);
    height: 150px;
    font-family: 'Oswald', sans-serif;
   
}

h1 {
    font-size: x-large;
    color: white;
    margin: auto;
    padding-top: 30px;
    padding-left: 30px;
}

main {
    display: grid;
    grid-template-columns: 40% 60%;
    font-family: 'Roboto', sans-serif;
    /* height: 960px; */
    margin: auto;
    padding:  auto;
    align-content: center;
    overflow: auto;
    width: 90%; 

    
}

.body {
    background-color: rgb(201, 93, 255);  
}

p, span {
    font-size: 10px;
}

h1 {
    font-size: 30px;
}

footer {
    height: 100px;
    background-color: black
}

footer p,a {
    color: white;
    text-align: center;
    font-size: 15px;
    padding-top: 30px;
}

a:hover {
    color: rgb(0, 117, 243);
}


